body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

header {
    background-color: #111;
    color: #00FF00;
    text-align: left;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #00FF00;
    text-decoration: none;
}

main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1a1a1a;
    color: #00FF00;
}

.table-wh
{
    width: 1039px;
    height: 1045px;
  
}

.image-container img
{
    transition: all 0.2s linear;
}
.image-container:hover img
{
    transform: scale(1.4);
}
.image-container
{
    width: 220px;
    height: 220px;
    margin:0px auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.font_menu
{
    font-family:math;
    font-size:large;
}
.sidebar-left {
    width: 180px;
    background-color: #656565;
    color: #00FF00;
    padding: 20px;
    height: 1045px;
    float: left; /* 왼쪽에 배치 */
}

.sidebar-right {
    width: 180px;
    background-color: #656565;
    color: #00FF00;
    padding: 20px;
    height: 1045px;
    float: right; /* 오른쪽에 배치 */
}
