body
{
    height: 894px;
    background-color: black;
}

.main-jpg {
    padding-bottom: 20px;
    padding-top : 20px;
    margin:0 auto;
    display: block;
    width: 1300px;
    height: 760px;
    border-radius:75px;
 }

 .help-image
 {
    border-radius: 40px;
    padding : 20px;
    width: 45%;
    height: 90%;
    float:right;
    position: absolute;
    right: 20px;
    top:20px;
 }

.swiper-container
 {
    position: relative;
    margin: auto;
    width:100%;
    max-width: 1550px;
    padding: 30px 0px;
    overflow-x: hidden;
 }

 .swiper-slide
 {
    width:100%;
    background-color: #eee;
    height: 800px;
    border-radius:10px;
    box-shadow: 0px 5px 8px rgb(255, 255, 255);
 }

.main-text-wrap
{
    position: absolute;
    top:35%;
    left:0;
    right:0;
    width:600px;
    opacity: 1;
    margin:auto;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
}

.main-text-wrap h2{
    color:#fff;
    font-size: 44px;
    line-height: 1.25;
    font-weight: bold;
    margin-bottom: 16px;
}

.main-text-wrap p{
    color:#fff;
    font-size:20px;
}

.help-text p
{
    width:50%;
    padding: 15px;
    margin:0;
    word-break: break-word;
    font-family: 'Noto Sans KR', sans-serif;
}

.help-text h2
{
    word-break: break-word;
    width: 50%;
    margin:0;
    padding:15px;
    font-size:30px;
}

.help-text hr
{
    border: none;
    border-top: 1px solid black; /* 가로선 스타일 설정 */
    width: 50%; /* 가로선의 너비 조절 */
    margin: 0; /* 가로선의 상단과 하단 마진 제거 */
}

.swiper-pagination-bullet-active
{
    background-color: #fff;
    width:80px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity:0;
}

.swiper-button-next,
.swiper-button-prev
{
    width:40px;
    height: 40px;
    background-color: rgba(240, 240, 0, 7);
    backdrop-filter: blur(3px);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after
{
    display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover
{
    background-color: #000000;
    box-shadow: 0 4px 12px rgb(166, 190, 243);
}

.swiper-button-prev
{
    background-image: url(../svg/icon-arrow-left.svg);
}

.swiper-button-prev:hover
{
    background-image:  url(../svg/icon-arrow-left-w.svg);
}

.swiper-button-next
{
    background-image: url(../svg/icon-arrow-right.svg);
}

.swiper-button-next:hover{
    background-image: url(../svg/icon-arrow-right-w.svg);
}




